In [1]:

#The pwd module is a Unix-specific Python module that provides access to the user account and password database â€” typically stored in /etc/passwd.
#Not Available on Windows systems.

import pwd, os , getpass

uid = os.getuid() # Get the current user's UID
print("uid from os module:",uid)

user_info = pwd.getpwuid(uid) # Get the user information using the UID
print("User Information from pwd module:")
print("Username:", user_info.pw_name)
print("Password:", user_info.pw_passwd)

uid from os module: 1000
User Information from pwd module:
Username: codespace
Password: x

In [2]:
user_id1 = getpass.getuser()
print("user_id1:", user_id1)
password1 = getpass.getpass("Enter your password: ")

user_id1: codespace

In [3]:
password1

'kutta'

In [ ]:
import psycopg2

#Example
PGHOST= "" ,#"ep-rapid-credit-a8r94t5e-pooler.eastus2.azure.neon.tech"
PGDATABASE="",#"neondb"
PGUSER="",#"neondb_owner"
PGPASSWORD="",#"npg_cHLPuKGe3n2a"
PGPORT=5432

conn = psycopg2.connect(
    host= PGHOST,
    port=PGPORT,
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD
)
cur = conn.cursor()
cur.execute("SELECT * FROM employee;")
data = cur.fetchall()       #fetchmany(3)
conn.close()

In [2]:
for item in cur.description:
    print(item.name)

id
first_name
last_name
email
hire_date
job_title
salary
department

In [3]:

columns = [item.name for item in cur.description]

In [16]:
import pandas as pd

df = pd.DataFrame(data=data, columns= columns)

display(df)

,id,first_name,last_name,email,hire_date,job_title,salary,department
0,1,John,Doe,john.doe@example.com,2022-01-15,Software Engineer,75000.00,Engineering
1,2,Jane,Smith,jane.smith@example.com,2021-11-01,Marketing Specialist,65000.00,Marketing
2,3,Michael,Johnson,michael.johnson@example.com,2022-03-10,Sales Representative,60000.00,Sales
3,4,Emily,Brown,emily.brown@example.com,2022-02-20,HR Manager,80000.00,Human Resources
4,5,David,Wilson,david.wilson@example.com,2021-09-05,Financial Analyst,70000.00,Finance
5,6,Anindya,Bose,anindya.bose@bose.com,2025-09-18,"Director, AI",150000.00,Information Technology